<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <div class="col-md-12 dataTableTop">
                <div class="col-md-9">
                    <h3>Lista de facturas</h3>
                </div>
                <div class="col-md-3" ng-click="controller.createBill()">
                    <button type="submit" class="btn btn-labeled btn-success addButton">
                          <span class="btn-label">
                             <em class="fa fa-plus"></em>
                          </span>Agregar
                    </button>
                </div>
            </div>
            <table datatable="ng" dt-options="controller.dtOptionsBills" dt-column-defs="controller.dtColumnDefsBills"
                   class="row-border hover">
                <thead>
                <tr>
                    <th>Número de factura</th>
                    <th>Estado</th>
                    <th>Cliente</th>
                    <th>Fecha de factura</th>
                    <th>Fecha vencimiento</th>
                    <th>Total</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="billObj in controller.billList">
                    <td ng-if="billObj.billNumber == null" >{{"B" + billObj.id }}</td>
                    <td ng-if="billObj.billNumber != null" >{{ billObj.billNumber }}</td>
                    <td>{{ billObj.billState.description }}</td>
                    <td>{{billObj.customer.name + " " + billObj.customer.firstLastName + " " + billObj.customer.secondLastName}}</td>
                    <td>{{ billObj.billDate | date :  "dd-MM-yyyy" }}</td>
                    <td ng-if="billObj.billPaymentType.id != 1" >{{ billObj.dueDate | date :  "dd-MM-yyyy" }}</td>
                    <td ng-if="billObj.billPaymentType.id == 1" >{{ "Pago de contado"}}</td>
                    <td ng-if="billObj.currency.currencyCode == 2">{{ billObj.totalAmount | currency : "$" : 2}}</td>
                    <td ng-if="billObj.currency.currencyCode != 2">{{ billObj.totalAmount | currency : "₡" : 2}}</td>
                    <td>
                        <button type="button" ui-sref="app.billDetail({billId: billObj.id})" class="btn btn-sm btn-toolbar">
                            <em class="fa fa-search"></em>
                        </button>
                        <button ng-disabled="billObj.billState.code != 1" type="button" ng-click="controller.disableBill(billObj.id)"
                                class="btn btn-sm btn-danger">
                            <em class="fa fa-trash-o"></em>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            </form>
        </div>
    </div>
    <toaster-container
            toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
    <script type="text/ng-template" id="disableBillModal">
        <div class="ngdialog-message text-center">
            <h3>Eliminar factura</h3>
            <p>¿Está seguro que desea eliminar la factura?</p>
            <div>
                <button type="button" ng-click="confirm(confirmValue)" class="btn btn-primary mr">Confirmar</button>
                <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">Cancelar</button>
            </div>
        </div>
    </script>
    <div ng-include="'app/views/modals/add-client-modal.html'"></div>
    <div ng-include="'app/views/modals/edit-contact-modal.html'"></div>
</div>
