<div>
    <div class="row">
        <div class="col-md-7">
            <h3>Reportes de facturas</h3>
        </div>
    </div>
    <div class="mb">
        <hr class="hidden-print"/>
        <div class="clearfix">
            <button ui-sref="app.reports"  uib-tooltip="Regresar a la lista" uib-tooltip-trigger="focus" uib-tooltip-placement="top"  type="button"  class="btn btn-labeled btn-info pull-right">
                <span class="btn-label"> <em class="fa fa-mail-reply"></em></span>Regresar
            </button>
        </div>
    </div>
                <!-- START panel-->
                <div id="panelDemo13" class="panel panel-default">
                    <div class="panel-heading">Lista de reportes</div>
                    <div class="panel-body">
                        <div ng-controller="CustomerBillsReportController as billsReportController">
                        <uib-accordion close-others="false">
                            <uib-accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                <uib-accordion-heading>Facturas de clientes</uib-accordion-heading>
                                <div id="collapse02">
                                    <form name="billsReportController.billsSearchForm" ng-submit="billsReportController.submitForm()" novalidate=""
                                         class="form-validate">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Cédula cliente</label>
                                                <input type="text" name="customerIdentification"
                                                       ng-model="billsReportController.customerIdentification"  class="form-control"  />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Desde</label>
                                                <p class="input-group">
                                                    <input   name="startDate" type="text" uib-datepicker-popup="{{billsReportController.format}}" ng-model="billsReportController.startDate" is-open="billsReportController.isStartDateOpened"  max-date="'2020-12-30'" datepicker-options="billsReportController.dateOptions"
                                                           current-text="Hoy" close-text="Salir" clear-text="Limpiar" class="form-control" onkeydown="return false" />
                                                    <span class="input-group-btn">
                                                       <button type="button" ng-click="billsReportController.openStartDate($event)" class="btn btn-default">
                                                          <em class="fa fa-calendar"></em>
                                                       </button>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Hasta</label>
                                                <p class="input-group">
                                                    <input   name="endDate" type="text" uib-datepicker-popup="{{billsReportController.format}}" ng-model="billsReportController.endDate" is-open="billsReportController.isEndDateOpened"  max-date="'2020-12-30'" datepicker-options="billsReportController.dateOptions"
                                                           current-text="Hoy" close-text="Salir" clear-text="Limpiar" class="form-control" onkeydown="return false" />
                                                    <span class="input-group-btn">
                                                       <button type="button" ng-click="billsReportController.openEndDate($event)" class="btn btn-default">
                                                          <em class="fa fa-calendar"></em>
                                                       </button>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    <div class="panel-footer">
                                        <div class="clearfix">
                                            <div class="pull-right">
                                                <button uib-tooltip="Buscar" uib-tooltip-trigger="focus"
                                                        uib-tooltip-placement="top" type="submit" class="btn btn-primary pull-right ml">
                                                    Buscar
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-3 control-label">Filtrar solamente facturas por cobrar</label>
                                            <div class="col-sm-9">
                                                <label class="switch switch-md">
                                                    <input type="checkbox"  ng-model="billsReportController.isPendingPaymentReport" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                    <div ng-show="billsReportController.showTable" class="container-fluid">
                                        <!-- Filter Example-->
                                        <h4 class="page-header">{{billsReportController.resultsLabel}}</h4>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6">
                                                <input placeholder="Filtrar..." type="text" ng-model="billsReportController.gridOptions.quickFilterText" class="mb form-control" />

                                            </div>
                                            <div class="col-lg-4 col-md-6">

                                            <button ng-disabled="billsReportController.reportData.length <= 0" uib-tooltip="Exportar" uib-tooltip-trigger="focus"
                                                    uib-tooltip-placement="top" ng-click="billsReportController.exportToCsv()" class="btn btn-primary">
                                                Exportar a CSV
                                            </button>
                                            </div>
                                        </div>
                                        <div ag-grid="billsReportController.gridOptions" style="width: 100%; height: 400px;" class="ag-angle"></div>
                                    </div>
                                </div>
                                <span us-spinner="{radius:20, width:8, length: 16, color: '#3A3F51'}" spinner-key="customersSpinner" spinner-start-active="false"></span>
                            </uib-accordion-group>
                        </uib-accordion>
                        </div>
                    </div>
                </div>
                <!-- END panel-->
</div>
