<div ng-controller="BillDetailController as controller">
    <div class="row">
        <div class="col-md-7">
            <h3>Detalle de factura</h3>
        </div>
        <div class="col-md-5 customButtonGroup">
            <button type="submit" class="btn btn-labeled btn-info" ng-click="controller.goBack()">
                <span class="btn-label">
                    <em class="fa fa-mail-reply"></em>
                </span>Regresar
            </button>
            <button type="submit" class="btn btn-labeled btn-success" ng-click="controller.updateBill()">
                <span class="btn-label">
                    <em class="fa fa-plus"></em>
                </span>Guardar
            </button>
            <button type="button" class="btn btn-labeled btn-danger" ng-click="controller.cancel()">
                   <span class="btn-label"><i class="fa fa-times"></i>
                   </span>Cancelar
            </button>
        </div>
    </div>
    <form class="panel">
        <uib-tabset justified="true">
            <uib-tab>
                <uib-tab-heading>Detalle</uib-tab-heading>
                <div class="panel">
                    <div class="panel-body">
                        <h3 class="mt0" ng-if="currentBill.billNumber != null">{{"Factura #:" + currentBill.billNumber}}</h3>
                        <h3 class="mt0" ng-if="currentBill.billNumber == null">{{"**En borrador**"}}</h3>
                        <hr/>
                        <div class="row mb-lg">
                            <div class="col-lg-4 col-xs-6 br pv">
                                <div class="row">
                                    <div class="col-md-2 text-center visible-md visible-lg">
                                        <em class="fa fa-user fa-4x text-muted"></em>
                                    </div>
                                    <div class="col-md-10">
                                        <h4>{{currentBill.customer.name + " " + currentBill.customer.firstLastName + " " + currentBill.customer.secondLastName}}</h4>
                                        <address></address>
                                        {{currentBill.customer.addresses[0].address}}
                                        <!--<br/>Happy St., 50487
                                        <br/>Neverland-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-6 br pv">
                                <div class="row">
                                    <div class="col-md-2 text-center visible-md visible-lg">
                                        <em class="fa fa-phone fa-4x text-muted"></em>
                                    </div>
                                    <div class="col-md-10">
                                        <h4>{{currentBill.customer.contacts[0].name + " " + currentBill.customer.contacts[0].firstLastName + " " + currentBill.customer.contacts[0].secondLastName }}</h4>
                                        <address></address>
                                        {{currentBill.customer.contacts[0].phoneNumber1}}
                                        <br/>{{currentBill.customer.contacts[0].mobile}}
                                        <br/>{{currentBill.customer.contacts[0].email}}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix hidden-md hidden-lg">
                                <hr/>
                            </div>
                            <div class="col-lg-4 col-xs-12 pv">
                                <div class="clearfix">
                                    <p class="pull-left">FACTURA NO.</p>
                                    <p class="pull-right mr" ng-if="currentBill.billNumber != null">{{currentBill.billNumber}}</p>
                                    <p class="pull-right mr" ng-if="currentBill.billNumber == null">{{"**En borrador**"}}</p>
                                </div>
                                <div class="clearfix">
                                    <p class="pull-left">Fecha de facturación</p>
                                    <p class="pull-right mr">{{currentBill.billDate | date:'MM/dd/yyyy'}}</p>
                                </div>
                                <div class="clearfix">
                                    <p class="pull-left">Fecha de vencimiento</p>
                                    <p class="pull-right mr">{{currentBill.dueDate | date:'MM/dd/yyyy'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table-bordered mb-lg">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Impuestos</th>
                                    <th>Descuentos</th>
                                    <th>Subtotal</th>
                                    <th class="text-right">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="billDetail in currentBill.billDetails">
                                    <td>{{billDetail.product.productCode}}</td>
                                    <td>{{billDetail.product.name}}</td>
                                    <td>{{billDetail.quantity}}</td>
                                    <td>{{billDetail.totalTaxAmount}}</td>
                                    <td>{{billDetail.totalDiscount}}</td>
                                    <td>{{billDetail.subTotal}}</td>
                                    <td class="text-right">{{billDetail.total}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-8 col-sm-4 pv">
                                <div class="clearfix">
                                    <p class="pull-left">Subtotal</p>
                                    <p class="pull-right mr">{{currentBill.subTotalAmount}}</p>
                                </div>
                                <div class="clearfix">
                                    <p class="pull-left">Total de descuentos</p>
                                    <p class="pull-right mr">{{currentBill.totalDiscount}}</p>
                                </div>
                                <div class="clearfix">
                                    <p class="pull-left">Total de impuestos</p>
                                    <p class="pull-right mr">{{currentBill.totalTaxAmount}}</p>
                                </div>
                                <div class="clearfix">
                                    <p class="pull-left h3">TOTAL</p>
                                    <p class="pull-right mr h3">{{currentBill.totalAmount}}</p>
                                </div>
                            </div>
                        </div>
                        <hr class="hidden-print"/>
                        <div class="clearfix">
                            <button type="button" onclick="window.print();" class="btn btn-default pull-left">Print</button>
                            <button type="button" class="btn btn-success pull-right ml">Guardar</button>
                            <button ng-show="currentBill.billNumber == null" type="button" ng-click="controller.disableBill(currentBill.id)" class="btn btn-danger pull-right">Borrar</button>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab>
                <uib-tab-heading>???????</uib-tab-heading>
            </uib-tab>
        </uib-tabset>
    </form>
    <toaster-container
            toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
    <script type="text/ng-template" id="disableContactModal">
        <div class="ngdialog-message text-center">
            <h3>Eliminar contacto</h3>
            <p>¿Está seguro que desea eliminar al contacto?</p>
            <div>
                <button type="button" ng-click="confirm(confirmValue)" class="btn btn-primary mr">Confirmar</button>
                <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">Cancelar</button>
            </div>
        </div>
    </script>
</div>
