<h3>Clientes</h3>
<div class="table-responsive b0">
    <table datatable="" class="table table-hover">
        <thead>
        <tr>
            <th style="width:80px">
                <strong>Código</strong>
            </th>
            <th>
                <strong>Nombre</strong>
            </th>
            <th>
                <strong>Dirección</strong>
            </th>
            <th>
                <strong>Teléfono</strong>
            </th>
            <th class="text-center">
                <strong>Correo</strong>
            </th>
            <th class="text-center">
                <strong>Detalle</strong>
            </th>
            <th class="text-center">
                <strong>Acciones</strong>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>0001</td>
            <td>Luis Augusto Trejos Rojas</td>
            <td>Santa ana, centro</td>
            <td>2210-2222</td>
            <td class="text-center">ltrejos@gmail.com</td>
            <td class="text-center">
                <button type="button" class="btn btn-sm btn-default">
                    <em class="fa fa-search"></em>
                </button>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-sm btn-default">
                    <em class="fa fa-pencil"></em>
                </button>
                <button type="button" class="btn btn-sm btn-danger">
                    <em class="fa fa-trash"></em>
                </button>
                <button type="button" class="btn btn-sm btn-success">
                    <em class="fa fa-check"></em>
                </button>
            </td>
        </tr>
        <tr>
            <td>0001</td>
            <td>Luis Augusto Trejos Rojas</td>
            <td>Santa ana, centro</td>
            <td>2210-2222</td>
            <td class="text-center">ltrejos@gmail.com</td>
            <td class="text-center">
                <button type="button" class="btn btn-sm btn-default">
                    <em class="fa fa-search"></em>
                </button>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-sm btn-default">
                    <em class="fa fa-pencil"></em>
                </button>
                <button type="button" class="btn btn-sm btn-danger">
                    <em class="fa fa-trash"></em>
                </button>
                <button type="button" class="btn btn-sm btn-success">
                    <em class="fa fa-check"></em>
                </button>
            </td>
        </tr>
        <tr>
            <td>0001</td>
            <td>Luis Augusto Trejos Rojas</td>
            <td>Santa ana, centro</td>
            <td>2210-2222</td>
            <td class="text-center">ltrejos@gmail.com</td>
            <td class="text-center">
                <button type="button" class="btn btn-sm btn-default">
                    <em class="fa fa-search"></em>
                </button>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-sm btn-default">
                    <em class="fa fa-pencil"></em>
                </button>
                <button type="button" class="btn btn-sm btn-danger">
                    <em class="fa fa-trash"></em>
                </button>
                <button type="button" class="btn btn-sm btn-success">
                    <em class="fa fa-check"></em>
                </button>
            </td>
        </tr>
        <tr>
            <td>0001</td>
            <td>Luis Augusto Trejos Rojas</td>
            <td>Santa ana, centro</td>
            <td>2210-2222</td>
            <td class="text-center">ltrejos@gmail.com</td>
            <td class="text-center">
                <button type="button" class="btn btn-sm btn-default">
                    <em class="fa fa-search"></em>
                </button>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-sm btn-default">
                    <em class="fa fa-pencil"></em>
                </button>
                <button type="button" class="btn btn-sm btn-danger">
                    <em class="fa fa-trash"></em>
                </button>
                <button type="button" class="btn btn-sm btn-success">
                    <em class="fa fa-check"></em>
                </button>
            </td>
        </tr>
        <tr>
            <td>0001</td>
            <td>Luis Augusto Trejos Rojas</td>
            <td>Santa ana, centro</td>
            <td>2210-2222</td>
            <td class="text-center">ltrejos@gmail.com</td>
            <td class="text-center">
                <button type="button" class="btn btn-sm btn-default">
                    <em class="fa fa-search"></em>
                </button>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-sm btn-default">
                    <em class="fa fa-pencil"></em>
                </button>
                <button type="button" class="btn btn-sm btn-danger">
                    <em class="fa fa-trash"></em>
                </button>
                <button type="button" class="btn btn-sm btn-success">
                    <em class="fa fa-check"></em>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>