<h2>Bienvenido</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a ui-sref="app.thirdPartyMain" class="link-unstyled text-primary">
                        <em class="fa fa-5x icon-user mb-lg"></em>
                        <br/>
                        <span class="h4">Terceros</span>
                        <br/>
                        <small class="text-muted">Detalles &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a ui-sref="app.dashboard" class="link-unstyled text-danger">
                        <em class="fa fa-5x fa-book mb-lg"></em>
                        <br/>
                        <span class="h4">Comercial</span>
                        <br/>
                        <small class="text-muted">Detalles &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a ui-sref="app.billingMain" class="link-unstyled text-purple">
                        <em class="fa fa-5x fa-pencil-square-o mb-lg"></em>
                        <br/>
                        <span class="h4">Facturas</span>
                        <br/>
                        <small class="text-muted">Detalles &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a ui-sref="app.warehouseMain" class="link-unstyled text-warning">
                        <em class="fa fa-5x fa-truck mb-lg"></em>
                        <br/>
                        <span class="h4">Almacén</span>
                        <br/>
                        <small class="text-muted">Detalles &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a ui-sref="app.usersMain" class="link-unstyled text-info">
                        <em class="fa fa-5x fa-group mb-lg"></em>
                        <br/>
                        <span class="h4">Usuarios</span>
                        <br/>
                        <small class="text-muted">Detalles &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a ui-sref="app.configuration" class="link-unstyled text-success">
                        <em class="fa fa-5x fa-cogs mb-lg"></em>
                        <br/>
                        <span class="h4">Configuración</span>
                        <br/>
                        <small class="text-muted">Detalles &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>