<h1>Bienvenido</h1>
<!-- START row-->
<div class="panel-body">
    <fieldset>
        <legend></legend>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-4 col-md-8">
                    <!-- START panel-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <em class="fa fa-file-text-o fa-5x"></em>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="text-lg">26</div>
                                    <p class="m0"></p>
                                </div>
                            </div>
                        </div>
                        <a ui-sref="app.thirdPartyMain" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                            <h4 class="pull-left">Terceros</h4>
                            <span class="pull-right">
                                <em class="fa fa-chevron-circle-right"></em>
                            </span>
                        </a>
                        <!-- END panel-->
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <!-- START panel-->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <em class="fa fa-tasks fa-5x"></em>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="text-lg">12</div>
                                    <p class="m0"></p>
                                </div>
                            </div>
                        </div>
                        <a ui-sref="app.commerce" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                            <h4 class="pull-left">Comercial</h4>
                            <span class="pull-right">
                               <em class="fa fa-chevron-circle-right"></em>
                            </span>
                        </a>
                    </div>
                    <!-- END panel-->
                </div>
                <div class="col-lg-4 col-md-8">
                    <!-- START panel-->
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <em class="fa fa-pencil-square-o fa-5x"></em>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="text-lg">124</div>
                                    <p class="m0"></p>
                                </div>
                            </div>
                        </div>
                        <a ui-sref="app.billing" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                            <h4 class="pull-left">Facturas</h4>
                            <span class="pull-right">
                               <em class="fa fa-chevron-circle-right"></em>
                            </span>
                        </a>
                    </div>
                    <!-- END panel-->
                </div>
                <div class="col-lg-4 col-md-8">
                    <!-- START panel-->
                    <div class="panel panel-purple">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <em class="fa fa-book fa-5x"></em>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="text-lg">13</div>
                                    <p class="m0"></p>
                                </div>
                            </div>
                        </div>
                        <a ui-sref="app.inventory" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                            <h4 class="pull-left">Inventario</h4>
                            <span class="pull-right">
                               <em class="fa fa-chevron-circle-right"></em>
                            </span>
                        </a>
                    </div>
                    <!-- END panel-->
                </div>
                <div class="col-lg-4 col-md-8">
                    <!-- START panel-->
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <em class="fa fa-group fa-5x"></em>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="text-lg">13</div>
                                    <p class="m0"></p>
                                </div>
                            </div>
                        </div>
                        <a ui-sref="app.users" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                            <h4 class="pull-left">Usuarios</h4>
                            <span class="pull-right">
                               <em class="fa fa-chevron-circle-right"></em>
                            </span>
                        </a>
                    </div>
                    <!-- END panel-->
                </div>
                <div class="col-lg-4 col-md-8">
                    <!-- START panel-->
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <em class="fa fa-cogs fa-5x"></em>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="text-lg">13</div>
                                    <p class="m0"></p>
                                </div>
                            </div>
                        </div>
                        <a ui-sref="app.configuration" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                            <h4 class="pull-left">Configuración</h4>
                            <span class="pull-right">
                               <em class="fa fa-chevron-circle-right"></em>
                            </span>
                        </a>
                    </div>
                    <!-- END panel-->
                </div>
            </div>
            <!-- END row-->
        </div>
    </fieldset>
</div>

