<div>
    <script type="text/ng-template" id="/addContactModal.html">
        <div ng-controller="ContactController as contactController">
        <form name="contactController.addContactForm" ng-submit="contactController.submitForm('add')" novalidate="" class="form-validate">
        <!-- START panel-->
                <div class="panel panel-default">
                    <div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close"
                                                      ng-click="close()">×</button>
                        <h4 id="myModalLabel" class="modal-title">Agregar Contacto</h4>
                    </div>


                    <div class="panel-body">

                       <div class="row">
                           <div class="form-group">
                               <div class="col-sm-6">
                               <label for="inputContact1">Nombre</label>
                                   <input name="name" required="" id="inputContact1" type="text" placeholder=""  ng-model="contactToCreate.name" class="form-control" />
                                   <span ng-show="contactController.validateInput('add', 'name', 'required')" class="text-danger">Este campo es requerido</span>
                               </div>
                               <div class="col-sm-6">
                               <label for="inputContact2">Primer Apellido</label>
                                   <input name="firstLastName" required="" id="inputContact2" type="text"  ng-model="contactToCreate.firstLastName" class="form-control" />
                                   <span ng-show="contactController.validateInput('add', 'firstLastName', 'required')" class="text-danger">Este campo es requerido</span>
                               </div>
                           </div>
                       </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6">
                                <label for="inputContact3">Segundo Apellido</label>
                                    <input name="secondLastName" required="" id="inputContact3" type="text"  ng-model="contactToCreate.secondLastName" class="form-control" />
                                    <span ng-show="contactController.validateInput('add', 'secondLastName', 'required')" class="text-danger">Este campo es requerido</span>
                                </div>

                                <div class="col-sm-6">
                                <label for="inputContact4">Correo</label>
                                    <input id="inputContact4" type="email"  ng-model="contactToCreate.email" class="form-control" />
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6">
                                <label for="inputContact5">Teléfono #1</label>
                                    <input name="phoneNumber1" required="" id="inputContact5" type="text"  ng-model="contactToCreate.phoneNumber1" class="form-control" />
                                    <span ng-show="contactController.validateInput('add', 'phoneNumber1', 'required')" class="text-danger">Este campo es requerido</span>
                                </div>

                                <div class="col-sm-6">
                                <label for="inputContact6">Teléfono #2</label>
                                    <input id="inputContact6" type="text"  ng-model="contactToCreate.phoneNumber2" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group">
                                <div class="col-sm-6">
                                <label for="inputContact7">Celular</label>
                                    <input id="inputContact7" type="text"  ng-model="contactToCreate.mobile" class="form-control" />
                                </div>

                                <div class="col-sm-6">
                                <label for="inputContact8">Puesto</label>
                                    <input id="inputContact8" type="text"  ng-model="contactToCreate.jobTitle" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!--  <form class="form-horizontal">-->


                            <div class="form-group">
                                <div class="col-sm-6">
                                <label for="inputContact9">Departamento</label>
                                    <input id="inputContact9" type="text"  ng-model="contactToCreate.department" class="form-control" />
                                </div>
                            </div>
                                <div class="form-group">
                                    <div class="clearfix col-sm-6">
                                        <div class="pull-right">
                                            <button uib-tooltip="Crear contacto" uib-tooltip-trigger="focus" uib-tooltip-placement="top"  type="submit" class="btn btn-success btn-lg">Agregar</button>
                                            <button uib-tooltip="Cancelar" uib-tooltip-trigger="focus" uib-tooltip-placement="top"  type="button" ng-click="cancel()" class="btn btn-danger btn-lg">Cancelar</button>
                                        </div>
                                    </div>
                                </div>

                          <!--  </form>-->
                        </div>
                    </div>
                </div>
        </div>
        </form>
    </script>
</div>