<div class="form-group">
    <script type="text/ng-template" id="/editContactModal.html">
        <!-- START panel-->
        <div class="panel panel-default" ng-controller="CustomerController as parentController">
            <div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close"
                                              ng-click="close()">×</button>
                <h4 id="myModalLabel" class="modal-title">Agregar Cliente</h4>
            </div>
            <div class="panel-body">
                <form action="/" form-wizard="" steps="5" validate-steps="true" name="addCustomerWizard">
                    <div class="form-wizard wizard-horizontal">
                        <!-- START wizard steps indicator-->
                        <ol class="row">
                            <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)" class="col-md-2">
                                <h4>Datos Personales</h4>
                                <small class="text-muted">Información General del Cliente</small>
                            </li>
                            <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)" class="col-md-2">
                                <h4>Información de Contacto</h4>
                                <small class="text-muted">Información de Medios de Contacto</small>
                            </li>
                            <li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)" class="col-md-2">
                                <h4>Direcciónes del Cliente</h4>
                                <small class="text-muted">Direcciónes Físicas del Cliente<br></small>
                            </li>
                            <li ng-class="{'active':wizard.active(4)}" ng-click="wizard.go(4)" class="col-md-2">
                                <h4>Línea de Crédito</h4>
                                <small class="text-muted">Información de Crédito<br></small>
                            </li>
                            <li ng-class="{'active':wizard.active(5)}" ng-click="wizard.go(5)" class="col-md-2">
                                <h4>Contactos & Puestos</h4>
                                <small class="text-muted">Información del Contacto Responsable<br></small>
                            </li>
                        </ol>
                        <!-- END wizard steps indicator-->
                        <!-- START Wizard Step inputs-->
                        <div id="step1" ng-show="wizard.active(1)">
                            <!-- Wizard with validation require inner forms to group step inputs to be validated-->
                            <fieldset ng-form="formStep1">
                                <legend>Información</legend>
                                <!-- START row-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Tipo de Cliente</label>
                                            <div class="controls">
                                                <select name="selectedCustomerType" ng-model="parentController.selectedCustomerType"
                                                        ng-options="item.id as item.name for item in parentController.customerTypeList"
                                                        class="form-control" required="required">
                                                </select>
                                                <span ng-show="formStep1.$submitted &amp;&amp; formStep1.selectedCustomerType.$invalid"
                                                      class="text-danger">Este campo no puede ser vacío</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Tipo de Identificación</label>
                                            <div class="controls">
                                                <select name="selectedIdentificationType" ng-model="parentController.selectedIdentificationType"
                                                        ng-options="item.code as item.name for item in parentController.identificationTypeList"
                                                        class="form-control" required="required" ng-change="parentController.resetNames()">
                                                </select>
                                                <span ng-show="formStep1.$submitted &amp;&amp; formStep1.selectedIdentificationType.$invalid"
                                                      class="text-danger">Este campo no puede ser vacío</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Identificación</label>
                                            <div class="controls">
                                                <input type="text" ng-minlength="{{parentController.maxMinLength()}}" ng-maxlength="{{parentController.maxMinLength()}}" name="identification" ng-model="parentController.identification"
                                                       placeholder="{{parentController.selectedIdentificationType == 2?'3101010101':'112340101'}}" required="required" class="form-control" maxlength="20"/>
                                                <span ng-show="formStep1.$submitted &amp;&amp; formStep1.identification.$error.required"
                                                      class="text-danger">Este campo no puede ser vacío</span>
                                                <span ng-show="formStep1.$submitted &amp;&amp; (formStep1.identification.$error.minlength || formStep1.identification.$error.maxlength)"
                                                      class="text-danger">Este campo debería ser de {{parentController.maxMinLength()}} dígitos</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-class="parentController.selectedIdentificationType == 2 ? 'col-md-12':'col-md-4'">
                                        <div class="form-group">
                                            <label ng-show="parentController.selectedIdentificationType == 1 || parentController.selectedIdentificationType == 3">Nombre</label>
                                            <label ng-show="parentController.selectedIdentificationType == 2">Nombre de la Empresa</label>
                                            <div class="controls">
                                                <input ng-show="parentController.selectedIdentificationType != null" type="text" name="name" ng-model="parentController.name" required="required"
                                                       class="form-control" maxlength="50" replace="[^a-zA-Z]" with=""/>
                                                <span ng-show="formStep1.$submitted &amp;&amp; formStep1.name.$invalid && parentController.selectedIdentificationType != null"
                                                      class="text-danger">Este campo no puede ser vacío</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" ng-show="parentController.selectedIdentificationType == 1 || parentController.selectedIdentificationType == 3">
                                        <div class="form-group">
                                            <label>Primer Apellido</label>
                                            <div class="controls">
                                                <input type="text" name="firstLastName" ng-model="parentController.firstLastName"
                                                       class="form-control" maxlength="50" replace="[^a-zA-Z]" with=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" ng-show="parentController.selectedIdentificationType == 1 || parentController.selectedIdentificationType == 3">
                                        <div class="form-group">
                                            <label>Segundo Apellido</label>
                                            <div class="controls">
                                                <input type="text" name="secondLastName" ng-model="parentController.secondLastName"
                                                       class="form-control" maxlength="50" replace="[^a-zA-Z]" with=""/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END row-->
                            </fieldset>
                            <ul class="pager">
                                <li class="next"><a href="" ng-click="wizard.go(2)">Siguiente<span>&rarr;</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs-->
                        <!-- START Wizard Step inputs-->
                        <div id="step2" ng-show="wizard.active(2)">
                            <!-- Wizard with validation require inner forms to group step inputs to be validated-->
                            <fieldset ng-form="formStep2">
                                <legend>Información de contacto</legend>
                                <!-- START row-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Teléfono #1</label>
                                            <div class="controls">
                                                <input type="tel" ng-maxlength="20" name="phoneNumber1" ng-model="parentController.phoneNumber1"
                                                        class="form-control"/>
                                                <span ng-show="formStep2.$submitted &amp;&amp; formStep2.phoneNumber1.$error.maxlength"
                                                      class="text-danger">Este campo debería ser máximo de 20 dígitos</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Teléfono #2</label>
                                            <div class="controls">
                                                <input type="tel" ng-maxlength="20" name="phoneNumber2" ng-model="parentController.phoneNumber2"
                                                       class="form-control"/>
                                                <span ng-show="formStep2.$submitted &amp;&amp; formStep2.phoneNumber2.$error.maxlength"
                                                      class="text-danger">Este campo debería ser máximo de 20 dígitos</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Teléfono Móvil</label>
                                            <div class="controls">
                                                <input type="tel" name="mobile" ng-model="parentController.mobile" class="form-control"
                                                       ng-maxlength="20" />
                                                <span ng-show="formStep2.$submitted &amp;&amp; formStep2.mobile.$error.maxlength"
                                                      class="text-danger">Este campo debería ser máximo de 20 dígitos</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Correo Electrónico</label>
                                            <div class="controls">
                                                <input type="email" name="email" ng-model="parentController.email" placeholder="cliente@empresa.com"
                                                       class="form-control" />
                                                <span ng-show="formStep2.$submitted &amp;&amp; formStep2.email.$invalid"
                                                      class="text-danger">Correo inválido</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Website</label>
                                            <div class="controls">
                                                <input type="text" name="website" ng-model="parentController.website" placeholder="www.website.com"
                                                       class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END row-->
                            </fieldset>
                            <ul class="pager">
                                <li class="previous">
                                    <a href="" ng-click="wizard.go(1)">
                                        <span>&larr; Anterior</span>
                                    </a>
                                </li>
                                <li class="next"><a href="" ng-click="wizard.go(3)">Siguiente<span>&rarr;</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs-->
                        <!-- START Wizard Step inputs-->
                        <div id="step3" ng-show="wizard.active(3)">
                            <!-- Wizard with validation require inner forms to group step inputs to be validated-->
                            <fieldset ng-form="formStep3">
                                <!-- Chaning data-->
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div ng-controller="AddressController as addressTable">
                                            <form class="form-inline">
                                                <table datatable="ng" dt-options="addressTable.dtOptions" dt-column-defs="addressTable.dtColumnDefs" addressTableclass="row-border hover">
                                                    <thead>
                                                    <tr>
                                                        <th>
                                                            <div>
                                                                <div class="form-group">
                                                                    <label>Provincia</label>
                                                                    <div class="controls">
                                                                        <select name="selectedProvince" ng-model="addressTable.address2Add.province"
                                                                                ng-options="item.name for item in addressTable.provinces" class="form-control"
                                                                                ng-change="addressTable.loadCantons(addressTable.address2Add.province.idProvince)">
                                                                            <option value="?"></option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th>
                                                            <div>
                                                                <div class="form-group">
                                                                    <label>Cantón</label>
                                                                    <div class="controls">
                                                                        <select name="selectedCanton" ng-model="addressTable.address2Add.canton"
                                                                                ng-options="item.name for item in addressTable.cantons" class="form-control"
                                                                                ng-change="addressTable.loadDistricts(addressTable.address2Add.canton.idCanton)">
                                                                            <option value="?"></option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th>
                                                            <div>
                                                                <div class="form-group">
                                                                    <label>Distrito</label>
                                                                    <div class="controls">
                                                                        <select name="selectedDistrict" ng-model="addressTable.address2Add.district"
                                                                                ng-options="item.name for item in addressTable.districts"class="form-control">
                                                                            <option value="?"></option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th>
                                                            <div>
                                                                <div class="form-group">
                                                                    <label>Dirección</label>
                                                                    <div class="controls">
                                                                        <textarea style="resize: none" name="address" ng-model="addressTable.address2Add.address" class="form-control" maxlength="150"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th>
                                                            <div class="form-group">
                                                                <button uib-tooltip="Agregar nueva dirección" uib-tooltip-trigger="focus" uib-tooltip-placement="top" type="button" ng-click="addressTable.addAddress2Table()" class="btn btn-labeled btn-success" ng-disabled="!addressTable.address2Add.district">
                                                                    <span class="btn-label"><em class="fa fa-plus" ></em>
                                                                    </span>Agregar
                                                                </button>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th>Provincia</th>
                                                        <th>Cantón</th>
                                                        <th>Distrito</th>
                                                        <th>Dirección</th>
                                                        <th>Opciones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="address in addressTable.addressesInParent">
                                                        <td>{{ address.province.name }}</td>
                                                        <td>{{ address.canton.name }}</td>
                                                        <td>{{ address.district.name }}</td>
                                                        <td>{{ address.address }}</td>
                                                        <td>
                                                            <button type="button" ng-click="addressTable.removeTmpAddress($index)" class="btn btn-sm btn-danger">
                                                                <em class="fa fa-trash-o"></em>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <span ng-show="formStep3.$submitted &amp;&amp; formStep3.addedProvince.$invalid"
                                      class="text-danger">Es necesario al menos una dirección</span>
                            </fieldset>
                            <ul class="pager">
                                <li class="previous">
                                    <a href="" ng-click="wizard.go(2)">
                                        <span>&larr; Anterior</span>
                                    </a>
                                </li>
                                <li class="next"><a href="" ng-click="wizard.go(4)">Siguiente<span>&rarr;</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs-->
                        <!-- START Wizard Step inputs-->
                        <div id="step4" ng-show="wizard.active(4)">
                            <!-- Wizard with validation require inner forms to group step inputs to be validated-->
                            <fieldset ng-form="formStep4">
                                <legend>Crédito</legend>
                                <!-- START row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Límite de crédito</label>
                                            <div class="controls">
                                                <input type="number" name="creditLimit" ng-model="parentController.creditLimit"
                                                       placeholder="₡" class="form-control" min="0"/>
                                                <span ng-show="formStep4.$submitted &amp;&amp; formStep4.creditLimit.$error.min"
                                                      class="text-danger">El número no puede ser negativo</span>
                                                <span ng-show="formStep4.$submitted &amp;&amp; formStep4.creditLimit.$error.number"
                                                      class="text-danger">No se admiten letras</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Porcentaje de descuento</label>
                                            <div class="controls">
                                                <input type="number" name="discountPorcentage" ng-model="parentController.discountPercentage"
                                                       placeholder="%" class="form-control" min="0" max="99"/>
                                                <span ng-show="formStep4.$submitted &amp;&amp; formStep4.discountPorcentage.$error.min"
                                                class="text-danger">El número no puede ser negativo</span>
                                                <span ng-show="formStep4.$submitted &amp;&amp; formStep4.discountPorcentage.$error.number"
                                                      class="text-danger">No se admiten letras</span>
                                                <span ng-show="formStep4.$submitted &amp;&amp; formStep4.discountPorcentage.$error.max"
                                                      class="text-danger">El número no puede ser mayor a 99</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END row-->
                            </fieldset>
                            <ul class="pager">
                                <li class="previous">
                                    <a href="" ng-click="wizard.go(3)">
                                        <span>&larr; Anterior</span>
                                    </a>
                                </li>
                                <li class="next"><a href="" ng-click="wizard.go(5)">Siguiente<span>&rarr;</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs-->
                        <!-- START Wizard Step inputs-->
                        <div id="step5" ng-show="wizard.active(5)">
                            <!-- Wizard with validation require inner forms to group step inputs to be validated-->
                            <fieldset ng-form="formStep5">
                                <legend>Contactos</legend>
                                <!-- START row-->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- START panel-->
                                        <div class="panel panel-default">
                                            <div class="panel-heading"><h4>Contacto #1</h4></div>
                                            <div class="panel-body">
                                                <!-- START row-->
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Nombre</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactName1" ng-model="parentController.contactName1"
                                                                       placeholder="Juan" required="required" class="form-control" replace="[^a-zA-Z]" with=""/>
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactName1.$invalid"
                                                                      class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Primer apellido</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactFirstLastName1" ng-model="parentController.contactFirstLastName1"
                                                                       placeholder="Perez" required="required" class="form-control" replace="[^a-zA-Z]" with=""/>
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactFirstLastName1.$invalid"
                                                                      class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Segundo apellido</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactSecondLastName1" ng-model="parentController.contactSecondLastName1"
                                                                       placeholder="Perez" required="required" class="form-control" replace="[^a-zA-Z]" with=""/>
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactSecondLastName1.$invalid"
                                                                      class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Puesto</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactPosition1" ng-model="parentController.contactPosition1"
                                                                       placeholder="Director" required="required" class="form-control" />
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactPosition1.$invalid"
                                                                      class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Departamento</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactDepartment1" ng-model="parentController.contactDepartment1"
                                                                       placeholder="Ventas" required="required" class="form-control" />
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactDepartment1.$invalid"
                                                                      class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Teléfono</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactPhoneNumber1" ng-model="parentController.contactPhoneNumber1"
                                                                        required="required" class="form-control" />
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactPhoneNumber1.$invalid"
                                                                      class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Extensión</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactExtention1" ng-model="parentController.contactExtention1"
                                                                       placeholder="100" class="form-control" maxlength="5"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Teléfono móvil</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactMobile1" ng-model="parentController.contactMobile1"
                                                                        required="required" class="form-control" />
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactMobile1.$invalid"
                                                                      class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <div class="controls">
                                                                <input type="email" name="contactEmail1" ng-model="parentController.contactEmail1"
                                                                       placeholder="contact@dominio.com" required="required" class="form-control" />
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactEmail1.$invalid"
                                                                      class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END panel-->
                                    </div>
                                    <div class="col-sm-6">
                                        <!-- START panel-->
                                        <div class="panel panel-default">
                                            <div class="panel-heading"><h4>Contacto #2</h4></div>
                                            <div class="panel-body">
                                                <!-- START row-->
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Nombre</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactName2" ng-model="parentController.contactName2"
                                                                       placeholder="Juan" class="form-control" replace="[^a-zA-Z]" with=""/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Primer apellido</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactFirstLastName2" ng-model="parentController.contactFirstLastName2"
                                                                       placeholder="Perez" class="form-control" replace="[^a-zA-Z]" with=""/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Segundo apellido</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactSecondLastName2" ng-model="parentController.contactSecondLastName2"
                                                                       placeholder="Perez" class="form-control" replace="[^a-zA-Z]" with=""/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Puesto</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactPosition2" ng-model="parentController.contactPosition2"
                                                                       placeholder="Director" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Departamento</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactDepartment2" ng-model="parentController.contactDepartment2"
                                                                       placeholder="Ventas" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Teléfono</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactPhoneNumber2" ng-model="parentController.contactPhoneNumber2"
                                                                        class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Extensión</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactExtention2" ng-model="parentController.contactExtention2"
                                                                       placeholder="100" class="form-control" maxlength="5" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Teléfono móvil</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactMobile2" ng-model="parentController.contactMobile2"
                                                                       class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <div class="controls">
                                                                <input type="email" name="contactEmail2" ng-model="parentController.contactEmail2"
                                                                       placeholder="contact@dominio.com" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END panel-->
                                    </div>
                                </div>
                                <!-- END row-->
                            </fieldset>
                            <ul class="pager">
                                <li class="previous">
                                    <a href="" ng-click="wizard.go(4)">
                                        <span>&larr; Anterior</span>
                                    </a>
                                </li>
                            </ul>
                            <div>
                                <p class="text-right">
                                    <button uib-tooltip="Crear cliente" uib-tooltip-trigger="focus" uib-tooltip-placement="top" type="button" ng-click="parentController.addCustomer()" class="btn btn-success btn-lg">Agregar</button>
                                    <button uib-tooltip="Cancelar creación" uib-tooltip-trigger="focus" uib-tooltip-placement="top" type="button" ng-click="cancel()" class="btn btn-danger btn-lg">Cancelar</button>
                                </p>
                            </div>
                        </div>
                        <!-- END Wizard Step inputs-->
                    </div>
                </form>
            </div>
        </div>
        <!-- END panel-->
    </script>
</div>