<div class="form-group">
    <script type="text/ng-template" id="/addClientModal.html">
        <!-- START panel-->
        <div class="panel panel-default" ng-controller="CustomerController as modalCtrl">
            <div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="close()">×</button>
                <h4 id="myModalLabel" class="modal-title">Agregar cliente</h4>
            </div>
            <div class="panel-body">
                <form action="/" form-wizard="" steps="6" validate-steps="true" name="addCustomerWizard">
                    <div class="form-wizard wizard-horizontal">
                        <!-- START wizard steps indicator-->
                        <ol class="row">
                            <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)" class="col-md-2">
                                <h4>Datos personales</h4>
                                <small class="text-muted">Información general del cliente.</small>
                            </li>
                            <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)" class="col-md-2">
                                <h4>Información de contacto</h4>
                                <small class="text-muted">Información de medios de contacto.</small>
                            </li>
                            <li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)" class="col-md-2">
                                <h4>Dirección</h4>
                                <small class="text-muted">Direcciónes físicas del cliente.</small>
                            </li>
                            <li ng-class="{'active':wizard.active(4)}" ng-click="wizard.go(4)" class="col-md-2">
                                <h4>Línea de crédito</h4>
                                <small class="text-muted">Información de crédito</small>
                            </li>
                            <li ng-class="{'active':wizard.active(5)}" ng-click="wizard.go(5)" class="col-md-2">
                                <h4>Contactos</h4>
                                <small class="text-muted">Información del contacto responsable</small>
                            </li>
                            <li ng-class="{'active':wizard.active(6)}" ng-click="wizard.go(6)" class="col-md-2">
                                <h4>Confirmarción</h4>
                                <small class="text-muted">Revise la información y confirme su ingreso</small>
                            </li>
                        </ol>
                        <!-- END wizard steps indicator-->
                        <!-- START Wizard Step inputs-->
                        <div id="step1" ng-show="wizard.active(1)">
                            <!-- Wizard with validation require inner forms to group step inputs to be validated-->
                            <fieldset ng-form="formStep1">
                                <legend>Información</legend>
                                <!-- START row-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Tipo de cliente</label>
                                            <div class="controls">
                                                <select name="selectedCustomerType" ng-model="addCustomerForm.selectedCustomerType" ng-options="item.id as item.name for item in modalCtrl.customerTypeList" class="form-control" required="required">
                                                </select>
                                                <span ng-show="formStep1.$submitted &amp;&amp; formStep1.selectedCustomerType.$invalid" class="text-danger">Este campo es inválido</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Tipo de identificación</label>
                                            <div class="controls">
                                                <select name="selectedIdentificationType" ng-model="addCustomerForm.selectedIdentificationType" ng-options="item.id as item.name for item in modalCtrl.identificationTypeList" class="form-control" required="required">
                                                </select>
                                                <span ng-show="formStep1.$submitted &amp;&amp; formStep1.selectedIdentificationType.$invalid" class="text-danger">Este campo es inválido</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Identificación</label>
                                            <div class="controls">
                                                <input type="text" name="identification" ng-model="addCustomerForm.identification" placeholder="110102020" required="required" class="form-control" />
                                                <span ng-show="formStep1.$submitted &amp;&amp; formStep1.identification.$invalid" class="text-danger">Este campo es inválido</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <div class="controls">
                                                <input type="text" name="name" ng-model="addCustomerForm.name" placeholder="Juan" required="required" class="form-control" />
                                                <span ng-show="formStep1.$submitted &amp;&amp; formStep1.name.$invalid" class="text-danger">Este campo es inválido</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Primer apellido</label>
                                            <div class="controls">
                                                <input type="text" name="firstLastName" ng-model="addCustomerForm.firstLastName" placeholder="Perez" required="required" class="form-control" />
                                                <span ng-show="formStep1.$submitted &amp;&amp; formStep1.firstLastName.$invalid" class="text-danger">Este campo es inválido</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Segundo apellido</label>
                                            <div class="controls">
                                                <input type="text" name="secondLastName" ng-model="addCustomerForm.secondLastName" placeholder="Perez" required="required" class="form-control" />
                                                <span ng-show="formStep1.$submitted &amp;&amp; formStep1.secondLastName.$invalid" class="text-danger">Este campo es inválido</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END row-->
                            </fieldset>
                            <ul class="pager">
                                <li class="next"><a href="" ng-click="wizard.go(2)">Siguiente<span>&rarr;</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs-->
                        <!-- START Wizard Step inputs-->
                        <div id="step2" ng-show="wizard.active(2)">
                            <!-- Wizard with validation require inner forms to group step inputs to be validated-->
                            <fieldset ng-form="formStep2">
                                <legend>Información de contacto</legend>
                                <!-- START row-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Teléfono #1</label>
                                            <div class="controls">
                                                <input type="tel" name="phoneNumber1" ng-model="addCustomerForm.phoneNumber1" placeholder="22221111" required="required" class="form-control" />
                                                <span ng-show="formStep2.$submitted &amp;&amp; formStep2.phoneNumber1.$invalid" class="text-danger">Este campo es inválido</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Teléfono #2</label>
                                            <div class="controls">
                                                <input type="tel" name="phoneNumber2" ng-model="addCustomerForm.phoneNumber2    " placeholder="22221111" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Teléfono móvil</label>
                                            <div class="controls">
                                                <input type="tel" name="mobile" ng-model="addCustomerForm.mobile" placeholder="88887777" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Correo electrónico</label>
                                            <div class="controls">
                                                <input type="email" name="email" ng-model="addCustomerForm.email" placeholder="contactEmail1" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Website</label>
                                            <div class="controls">
                                                <input type="text" name="website" ng-model="addCustomerForm.website" placeholder="www.website.com" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END row-->
                            </fieldset>
                            <ul class="pager">
                                <li class="previous">
                                    <a href="" ng-click="wizard.go(1)">
                                        <span>&larr; Anterior</span>
                                    </a>
                                </li>
                                <li class="next"><a href="" ng-click="wizard.go(3)">Siguiente<span>&rarr;</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs-->
                        <!-- START Wizard Step inputs-->
                        <div id="step3" ng-show="wizard.active(3)">
                            <!-- Wizard with validation require inner forms to group step inputs to be validated-->
                            <fieldset ng-form="formStep3">
                                <legend>Direcciones</legend>
                                <!-- START row-->
                                <h4>Dirección #1</h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Provincia</label>
                                            <div class="controls">
                                                <select name="selectedProvince1" ng-model="addCustomerForm.selectedProvince1"
                                                        ng-options="item.name for item in modalCtrl.provinces" class="form-control"
                                                        required="required" ng-change="modalCtrl.loadCantons(addCustomerForm.selectedProvince1)">
                                                    <option value="?"></option>
                                                </select>
                                                <span ng-show="formStep3.$submitted &amp;&amp; formStep3.selectedProvince1.$invalid" class="text-danger">Este campo es inválido</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Cantón</label>
                                            <div class="controls">
                                                <select name="selectedCanton1" ng-model="addCustomerForm.selectedCanton1"
                                                        ng-options="item.name for item in modalCtrl.cantons" class="form-control"
                                                        required="required"  ng-change="modalCtrl.loadDistricts(addCustomerForm.selectedCanton1)">
                                                    <option value="?"></option>
                                                </select>
                                                <span ng-show="formStep3.$submitted &amp;&amp; formStep3.selectedCanton1.$invalid" class="text-danger">Este campo es inválido</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Distrito</label>
                                            <div class="controls">
                                                <select name="selectedDistrict1" ng-model="addCustomerForm.selectedDistrict1"
                                                        ng-options="item.name for item in modalCtrl.districts"class="form-control"
                                                        required="required" `>
                                                    <option value="?"></option>
                                                </select>
                                                <span ng-show="formStep3.$submitted &amp;&amp; formStep3.selectedDistrict1.$invalid" class="text-danger">Este campo es inválido</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Dirección</label>
                                            <div class="controls">
                                                <textarea style="resize: none" name="address1" ng-model="addCustomerForm.address1" placeholder="Dirección y señas" class="form-control" required="required" />
                                                <span ng-show="formStep3.$submitted &amp;&amp; formStep3.address1.$invalid" class="text-danger">Este campo es inválido</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END row-->
                                <!-- START row-->
                                <h4>Dirección #2</h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Provincia</label>
                                            <div class="controls">
                                                <select name="selectedProvince2" ng-model="addCustomerForm.selectedProvince2"
                                                        ng-options="item.name for item in modalCtrl.provinces" class="form-control"
                                                        ng-change="modalCtrl.loadCantons(addCustomerForm.selectedProvince2)">
                                                    <option value="?"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Cantón</label>
                                            <div class="controls">
                                                <select name="selectedCanton2" ng-model="addCustomerForm.selectedCanton2"
                                                        ng-options="item.name for item in modalCtrl.cantons" class="form-control"
                                                        ng-change="modalCtrl.loadDistricts(addCustomerForm.selectedCanton2)">
                                                    <option value="?"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Distrito</label>
                                            <div class="controls">
                                                <select name="selectedDistrict2" ng-model="addCustomerForm.selectedDistrict2"
                                                        ng-options="item.name for item in modalCtrl.districts" class="form-control"
                                                        >
                                                    <option value="?"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Dirección</label>
                                            <div class="controls">
                                                <textarea style="resize: none" name="address2" ng-model="addCustomerForm.address2" placeholder="Dirección y señas" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END row-->
                            </fieldset>
                            <ul class="pager">
                                <li class="previous">
                                    <a href="" ng-click="wizard.go(2)">
                                        <span>&larr; Anterior</span>
                                    </a>
                                </li>
                                <li class="next"><a href="" ng-click="wizard.go(4)">Siguiente<span>&rarr;</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs-->
                        <!-- START Wizard Step inputs-->
                        <div id="step4" ng-show="wizard.active(4)">
                            <!-- Wizard with validation require inner forms to group step inputs to be validated-->
                            <fieldset ng-form="formStep4">
                                <legend>Crédito</legend>
                                <!-- START row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Límite de crédito</label>
                                            <div class="controls">
                                                <input type="number" name="creditLimit" ng-model="addCustomerForm.creditLimit" placeholder="$" required="required" class="form-control" />
                                                <span ng-show="formStep4.$submitted &amp;&amp; formStep4.creditLimit.$invalid" class="text-danger">Este campo es inválido</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Porcentaje de descuento</label>
                                            <div class="controls">
                                                <input type="number" name="discountPorcentage" ng-model="addCustomerForm.discountPercentage" placeholder="%" required="required" class="form-control" />
                                                <span ng-show="formStep4.$submitted &amp;&amp; formStep4.discountPorcentage.$invalid" class="text-danger">Este campo es inválido</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END row-->
                            </fieldset>
                            <ul class="pager">
                                <li class="previous">
                                    <a href="" ng-click="wizard.go(3)">
                                        <span>&larr; Anterior</span>
                                    </a>
                                </li>
                                <li class="next"><a href="" ng-click="wizard.go(5)">Siguiente<span>&rarr;</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs-->
                        <!-- START Wizard Step inputs-->
                        <div id="step5" ng-show="wizard.active(5)">
                            <!-- Wizard with validation require inner forms to group step inputs to be validated-->
                            <fieldset ng-form="formStep5">
                                <legend>Contactos</legend>
                                <!-- START row-->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- START panel-->
                                        <div class="panel panel-default">
                                            <div class="panel-heading"><h4>Contacto #1</h4></div>
                                            <div class="panel-body">
                                                <!-- START row-->
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Nombre</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactName1" ng-model="addCustomerForm.contactName1" placeholder="Juan" required="required" class="form-control" />
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactName1.$invalid" class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Primer apellido</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactFirstLastName1" ng-model="addCustomerForm.contactFirstLastName1" placeholder="Perez" required="required" class="form-control" />
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactFirstLastName1.$invalid" class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Segundo apellido</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactSecondLastName1" ng-model="addCustomerForm.contactSecondLastName1" placeholder="Perez" required="required" class="form-control" />
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactSecondLastName1.$invalid" class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Puesto</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactPosition1" ng-model="addCustomerForm.contactPosition1" placeholder="Director" required="required" class="form-control" />
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactPosition1.$invalid" class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Departamento</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactDepartment1" ng-model="addCustomerForm.contactDepartment1" placeholder="Ventas" required="required" class="form-control" />
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactDepartment1.$invalid" class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Teléfono</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactPhoneNumber1" ng-model="addCustomerForm.contactPhoneNumber1" placeholder="22222222" required="required" class="form-control" />
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactPhoneNumber1.$invalid" class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Extensión</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactExtention1" ng-model="addCustomerForm.contactExtention1" placeholder="100" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Teléfono móvil</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactMobile1" ng-model="addCustomerForm.contactMobile1" placeholder="88887777" required="required" class="form-control" />
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactMobile1.$invalid" class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <div class="controls">
                                                                <input type="email" name="contactEmail1" ng-model="addCustomerForm.contactEmail1" placeholder="contact@dominio.com" required="required" class="form-control" />
                                                                <span ng-show="formStep5.$submitted &amp;&amp; formStep5.contactEmail1.$invalid" class="text-danger">Este campo es inválido</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END panel-->
                                    </div>
                                    <div class="col-sm-6">
                                        <!-- START panel-->
                                        <div class="panel panel-default">
                                            <div class="panel-heading"><h4>Contacto #2</h4></div>
                                            <div class="panel-body">
                                                <!-- START row-->
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Nombre</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactName2" ng-model="addCustomerForm.contactName2" placeholder="Juan" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Primer apellido</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactFirstLastName2" ng-model="addCustomerForm.contactFirstLastName2" placeholder="Perez" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Segundo apellido</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactSecondLastName2" ng-model="addCustomerForm.contactSecondLastName2" placeholder="Perez" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Puesto</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactPosition2" ng-model="addCustomerForm.contactPosition2" placeholder="Director" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Departamento</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactDepartment2" ng-model="addCustomerForm.contactDepartment2" placeholder="Ventas" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Teléfono</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactPhoneNumber2" ng-model="addCustomerForm.contactPhoneNumber2" placeholder="22222222" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Extensión</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactExtention2" ng-model="addCustomerForm.contactExtention2" placeholder="100" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Teléfono móvil</label>
                                                            <div class="controls">
                                                                <input type="text" name="contactMobile2" ng-model="addCustomerForm.contactMobile2" placeholder="88887777" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <div class="controls">
                                                                <input type="email" name="contactEmail2" ng-model="addCustomerForm.contactEmail2" placeholder="contact@dominio.com" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END panel-->
                                    </div>
                                </div>
                                <!-- END row-->
                            </fieldset>
                            <ul class="pager">
                                <li class="previous">
                                    <a href="" ng-click="wizard.go(4)">
                                        <span>&larr; Anterior</span>
                                    </a>
                                </li>
                                <li class="next"><a href="" ng-click="wizard.go(6)">Siguiente<span>&rarr;</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs-->
                        <!-- START Wizard Step inputs-->
                        <div id="step6" ng-show="wizard.active(6)">
                            <div class="jumbotron">
                                <h1>Confirmación</h1>
                                <p>Revise cuidadosamente la información ingresada antes de confirmar, usted puede usar las botones de
                                    de "Anterior" y "Siguiente" para movilizarse sin perder la información ingresada, o si lo prefiere
                                    las pestañas superiores.</p>
                                <p>
                                    <button type="button" ng-click="addCustomer()" class="btn btn-info btn-lg">Agregar cliente</button>
                                    <button type="button" ng-click="cancel()" class="btn btn-danger btn-lg">Cancelar</button>
                                </p>
                            </div>
                            <ul class="pager">
                                <li class="previous">
                                    <a href="" ng-click="wizard.go(5)">
                                        <span>&larr; Anterior</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs-->
                    </div>
                </form>
            </div>
        </div>
        <!-- END panel-->
    </script>
</div>