<div class="form-group">
    <script type="text/ng-template" id="/addUserModal.html">
        <div ng-controller="UserController as modalCtrl">
            <div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close"
                                              ng-click="close()">×</button>
                <h4 id="myModalLabel" class="modal-title">Agregar usuario</h4>
            </div>
            <form name="modalCtrl.userForm" ng-submit="modalCtrl.submitForm('add')" novalidate="" class="form-validate">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-body col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input tabindex="1" type="text" name="name" required="" ng-model="addUserForm.name" class="form-control" />
                            <span ng-show="modalCtrl.validateInput('add', 'name', 'required')" class="text-danger">Este campo es requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nombre de usuario</label>
                            <input tabindex="4" type="text" name="username" required="" ng-model="addUserForm.username" class="form-control" />
                            <span ng-show="modalCtrl.validateInput('add', 'username', 'required')" class="text-danger">Este campo es requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Código de usuario</label>
                            <input tabindex="7" type="text" name="userCode" required="" ng-model="addUserForm.userCode" class="form-control" />
                            <span ng-show="modalCtrl.validateInput('add', 'userCode', 'required')" class="text-danger">Este campo es requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Número de extensión</label>
                            <input tabindex="10" type="text" name="extension" ng-model="addUserForm.extension" class="form-control"/>
                        </div>
                    </div>
                    <div class="panel-body col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Primer apellido</label>
                            <input tabindex="2" type="text" name="firstLastName" ng-model="addUserForm.firstLastName" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Contraseña</label>
                            <input tabindex="5" type="password" name="password" required="" ng-model="addUserForm.password" class="form-control" />
                            <span ng-show="modalCtrl.validateInput('add', 'password', 'required')" class="text-danger">Este campo es requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Correo electrónico</label>
                            <input tabindex="8" type="email" name="email" ng-model="addUserForm.email" class="form-control" placeholder="correo@dominio.com"/>
                            <span ng-show="modalCtrl.validateInput('add', 'email', 'email')" class="text-danger">Correo electrónico inválido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Teléfono celular</label>
                            <input tabindex="11" type="text" name="mobile" ng-model="addUserForm.mobile" class="form-control" ui-mask="9999-9999"/>
                        </div>
                    </div>
                    <div class="panel-body col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Segundo apellido</label>
                            <input tabindex="3" type="text" name="secondLastName" ng-model="addUserForm.secondLastName"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Repetir contraseña</label>
                            <input tabindex="6" type="password" name="passwordConfirm" required="" ng-model="addUserForm.passwordConfirm" class="form-control" />
                            <span ng-show="modalCtrl.validateInput('add', 'passwordConfirm', 'required')" class="text-danger">Este campo es requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Teléfono</label>
                            <input tabindex="9" type="text" name="phoneNumber" required="" ng-model="addUserForm.phoneNumber" class="form-control" ui-mask="9999-9999"/>
                            <span ng-show="modalCtrl.validateInput('add', 'phoneNumber', 'required')" class="text-danger">Este campo es requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Porcentaje de comisión</label>
                            <input tabindex="12" type="text" name="commissionPercentage" ng-model="addUserForm.commissionPercentage" class="form-control"/>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="clearfix">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success btn-lg">Agregar</button>
                                <button type="button" ng-click="cancel()" class="btn btn-danger btn-lg">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel-->
            </form>
        </div>
    </script>
</div>