<div class="form-group">
    <script type="text/ng-template" id="/addProductModal.html">
        <div ng-controller="ProductController as modalCtrl">
            <div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close"
                                              ng-click="close()">×</button>
                <h4 id="myModalLabel" class="modal-title">Agregar producto</h4>
            </div>
            <form name="modalCtrl.productForm" ng-submit="modalCtrl.submitForm('add')" novalidate="" class="form-validate">
                <!-- START panel-->
                <div class="panel panel-default col-lg-12">
                    <div class="panel-body col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Código</label>
                            <input tabindex="1" type="text" name="productCode" required="" ng-model="addProductForm.productCode" class="form-control" />
                            <span ng-show="modalCtrl.validateInput('add', 'productCode', 'required')" class="text-danger">Este campo es requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tipo de producto</label>
                            <select tabindex="4" name="productType" ng-model="addProductForm.productType"
                                    ng-options="item.id as item.name for item in modalCtrl.productTypeList"
                                    class="form-control" required="">
                            </select>
                            <span ng-show="modalCtrl.validateInput('add', 'productType', 'required')" class="text-danger">Este campo es requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Precio</label>
                            <input tabindex="7" type="text" name="price" ng-model="addProductForm.price" ng-pattern="/^[0-9.,]+$/"
                                   class="form-control" required="" min="0"/>
                            <span ng-show="modalCtrl.validateInput('add', 'price', 'required')" class="text-danger">Este campo es requerido</span>
                            <span ng-show="modalCtrl.validateInput('add', 'price', 'pattern')" class="text-danger">Solamente números permitidos</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Utilidad</label>
                            <input tabindex=11 type="text" name="utilityPercentage" ng-model="addProductForm.utilityPercentage" ng-pattern="/^[0-9.,]+$/"
                                   class="form-control" min="0"/>
                            <span ng-show="modalCtrl.validateInput('add', 'utilityPercentage', 'pattern')" class="text-danger">Solamente números permitidos</span>
                        </div>
                    </div>
                    <div class="panel-body col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input tabindex="2" type="text" name="productName" required="" ng-model="addProductForm.productName" class="form-control"/>
                            <span ng-show="modalCtrl.validateInput('add', 'productName', 'required')" class="text-danger">Este campo es requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tipo de presentación</label>
                            <select tabindex="5" name="presentationType" ng-model="addProductForm.presentationType"
                                    ng-options="item.id as item.name for item in modalCtrl.presentationTypeList"
                                    class="form-control" required="required">
                            </select>
                            <span ng-show="modalCtrl.validateInput('add', 'presentationType', 'required')" class="text-danger">Este campo es requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Costo</label>
                            <input tabindex="8" type="text" name="cost" ng-model="addProductForm.cost" ng-pattern="/^[0-9.,]+$/"
                                   class="form-control" min="0"/>
                            <span ng-show="modalCtrl.validateInput('add', 'cost', 'pattern')" class="text-danger">Solamente números permitidos</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Partida arancelaria</label>
                            <input tabindex="11" type="text" name="tariffHeading" ng-model="addProductForm.tariffHeading" class="form-control"/>
                        </div>
                    </div>
                    <div class="panel-body col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Nombre comercial</label>
                            <input tabindex="3" type="text" name="productCommercialName" ng-model="addProductForm.productCommercialName"
                                   class="form-control"/>
                            <span ng-show="modalCtrl.validateInput('add', 'productCommercialName', 'required')" class="text-danger">Este campo es requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Cantidad por bulto</label>
                            <input tabindex="6" type="text" name="bulkQuantity" ng-model="addProductForm.bulkQuantity" ng-pattern="/^[0-9.,]+$/"
                                   class="form-control" min="0"/>
                            <span ng-show="modalCtrl.validateInput('add', 'bulkQuantity', 'pattern')" class="text-danger">Solamente números permitidos</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Costo sugerido</label>
                            <input tabindex="9" type="text" name="suggestedCost" ng-model="addProductForm.suggestedCost" ng-pattern="/^[0-9.,]+$/"
                                   class="form-control" min="0"/>
                            <span ng-show="modalCtrl.validateInput('add', 'suggestedCost', 'pattern')" class="text-danger">Solamente números permitidos</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Unidad de medida</label>
                            <select tabindex="12" name="measureUnit" ng-model="addProductForm.measureUnit"
                                    ng-options="item.id as item.name for item in modalCtrl.measureUnitList"
                                    class="form-control" required="required">
                            </select>
                            <span ng-show="modalCtrl.validateInput('add', 'measureUnit', 'required')" class="text-danger">Este campo es requerido</span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="clearfix">
                        <div class="pull-right">
                            <button uib-tooltip="Crear producto" uib-tooltip-trigger="focus" uib-tooltip-placement="top"  type="submit" class="btn btn-success btn-lg">Agregar</button>
                            <button uib-tooltip="Cancelar" uib-tooltip-trigger="focus" uib-tooltip-placement="top"  type="button" ng-click="cancel()" class="btn btn-danger btn-lg">Cancelar</button>
                        </div>
                    </div>
                </div>
                <!-- END panel-->
            </form>
        </div>
    <!-- END panel-->
    </script>
</div>