<div>
    <script type="text/ng-template" id="/editContactModal.html">

        <form>
        <!-- START panel-->

        <div ng-controller="ContactController as contactController">
                <div class="panel panel-default">
                    <div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close"
                                                      ng-click="close()">×</button>
                        <h4 id="myModalLabel" class="modal-title">Información de Contacto</h4>
                    </div>


                    <div class="panel-body">

                       <div class="row">
                           <div class="form-group">
                               <div class="col-sm-6">
                               <label for="inputContact1">Nombre</label>
                                   <input id="inputContact1" type="text" placeholder="" ng-value="currentContact.name" ng-model="contactToUpdate.name" class="form-control" />
                               </div>
                               <div class="col-sm-6">
                               <label for="inputContact2">Primer Apellido</label>
                                   <input id="inputContact2" type="text" ng-value="currentContact.firstLastName" ng-model="contactToUpdate.firstLastName" class="form-control" />
                               </div>
                           </div>
                       </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6">
                                <label for="inputContact3">Segundo Apellido</label>
                                    <input id="inputContact3" type="text" ng-value="currentContact.secondLastName" ng-model="contactToUpdate.secondLastName" class="form-control" />
                                </div>

                                <div class="col-sm-6">
                                <label for="inputContact4">Correo</label>
                                    <input id="inputContact4" type="email" ng-value="currentContact.email" ng-model="contactToUpdate.email" class="form-control" />
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6">
                                <label for="inputContact5">Teléfono #1</label>
                                    <input id="inputContact5" type="text" ng-value="currentContact.phoneNumber1" ng-model="contactToUpdate.phoneNumber1" class="form-control" />
                                </div>

                                <div class="col-sm-6">
                                <label for="inputContact6">Teléfono #2</label>
                                    <input id="inputContact6" type="text" ng-value="currentContact.phoneNumber2" ng-model="contactToUpdate.phoneNumber2" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group">
                                <div class="col-sm-6">
                                <label for="inputContact7">Celular</label>
                                    <input id="inputContact7" type="text" ng-value="currentContact.mobile" ng-model="contactToUpdate.mobile" class="form-control" />
                                </div>

                                <div class="col-sm-6">
                                <label for="inputContact8">Puesto</label>
                                    <input id="inputContact8" type="text" ng-value="currentContact.jobTitle" ng-model="contactToUpdate.jobTitle" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!--  <form class="form-horizontal">-->


                            <div class="form-group">
                                <div class="col-sm-6">
                                <label for="inputContact9">Departamento</label>
                                    <input id="inputContact9" type="text" ng-value="currentContact.department" ng-model="contactToUpdate.department" class="form-control" />
                                </div>
                            </div>
                                <div class="form-group">
                                <div class="col-sm-6">
                                    <button type="submit" ng-click="updateContact()" class="btn btn-info">Actualizar</button>
                                 </div>
                                </div>

                          <!--  </form>-->
                        </div>
                    </div>
                </div>
        </div>
        </form>
    </script>
</div>