<div class="form-group">
    <script type="text/ng-template" id="/makePaymentModal.html">
        <div ng-controller="BillDetailController as modalCtrl">
            <div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" class="close"
                                              ng-click="close()">×</button>
                <h4 id="myModalLabel" class="modal-title">Emitir pago</h4>
            </div>
            <form name="modalCtrl.paymentForm" ng-submit="modalCtrl.submitForm('add')" novalidate="" class="form-validate">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-body col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Monto</label>
                            <input tabindex="1" type="number" name="amount" required="" ng-model="makePaymentForm.amount" class="form-control" />
                            <span ng-show="modalCtrl.validateInput('add', 'amount', 'required')" class="text-danger">Este campo es requerido</span>
                        </div>
                    </div>
                    <div class="panel-body col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Banco</label>
                            <input tabindex="2" type="text" name="bank" ng-model="makePaymentForm.bank" class="form-control" />
                        </div>
                    </div>
                    <div class="panel-body col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Comprobante o recibo</label>
                            <input tabindex="3" type="text" name="bankReceipt" ng-model="makePaymentForm.bankReceipt" class="form-control" />
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body col-lg-12">
                                <div class="form-group">
                                    <label class="control-label">Observaciones</label>
                                    <textarea tabindex="4" style="resize: none" name="observation" ng-model="makePaymentForm.observation" class="form-control"></textarea>
                                </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="clearfix">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success btn-lg">Agregar</button>
                                <button type="button" ng-click="cancel()" class="btn btn-danger btn-lg">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel-->
            </form>
        </div>
        <!-- END panel-->
    </script>
</div>
