<div>

        <div ng-con class="panel-body">
            <form  novalidate="" ng-submit="configCtrl.submitForm()" name="configCtrl.exchangeConfigForm">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Dólares:</label>
                    <div class="col-sm-4">
                        <input type="number" name="exchangeRate" required="" ng-model="configCtrl.exchangeRateValue" class="form-control" />
                        <span ng-show="configCtrl.validateInput('exchangeRate', 'required')" class="text-danger">Este campo es requerido</span>
                        <span ng-show="configCtrl.exchangeConfigForm.$submitted &amp;&amp; configCtrl.exchangeConfigForm.exchangeRate.$error.number"
                              class="text-danger">No se admiten letras</span>
                    </div>
                    <div class="col-sm-4">
                            <div>
                                <button uib-tooltip="Guardar cambios" uib-tooltip-trigger="focus" uib-tooltip-placement="top"  type="submit" class="btn btn-success btn-lg">Modificar</button>
                            </div>
                    </div>
                </div>
            </fieldset>
            </form>
        </div>
</div>