<div>
    <div class="row">
        <div class="col-md-7">
            <h3>Detalle de Factura</h3>
        </div>
    </div>
    <form class="panel" name="controller.billDetailForm" action="" method="post" novalidate="novalidate">
        <uib-tabset justified="true">
            <uib-tab heading="DETALLES" active="tab1">
                <div class="mb">
                    <hr class="hidden-print"/>
                    <div class="clearfix">
                        <button uib-tooltip="Imprimir factura" uib-tooltip-trigger="focus" uib-tooltip-placement="top" type="button" ng-click="controller.toPDF(currentBill)" class="btn btn-labeled btn-info pull-left">
                        <span class="btn-label">
                            <em class="fa fa-print"></em>
                        </span>Imprimir
                        </button>
                        <button uib-tooltip="Clonar factura" uib-tooltip-trigger="focus" uib-tooltip-placement="top" type="button" ng-click="controller.cloneBill(currentBill)"
                                class="btn btn-labeled btn-info pull-left ml">
                          <span class="btn-label">
                             <em class="fa fa-copy"></em>
                          </span>Clonar
                        </button>
                        <button uib-tooltip="Regresar a la lista" uib-tooltip-trigger="focus" uib-tooltip-placement="top" type="button" ng-click="controller.goBack()"
                                class="btn btn-labeled btn-info pull-left ml">
                          <span class="btn-label">
                             <em class="fa fa-mail-reply"></em>
                          </span>Regresar
                        </button>
                        <button uib-tooltip="Eliminar factura" uib-tooltip-trigger="focus" uib-tooltip-placement="top" ng-show="currentBill.billState.code == globalConstants.BILL_DRAFT_STATE_CODE" type="button"
                                ng-click="controller.disableBill(currentBill.id)"
                                class="btn btn-labeled btn-danger pull-right">
                          <span class="btn-label">
                             <em class="fa fa-times"></em>
                          </span>Eliminar
                        </button>
                        <button uib-tooltip="Modificar factura" uib-tooltip-trigger="focus" uib-tooltip-placement="top" ng-show="currentBill.billState.code == globalConstants.BILL_DRAFT_STATE_CODE" type="button"
                                ui-sref="app.updateBill({billId: currentBill.id})"
                                class="btn btn-labeled btn-warning pull-right mr">
                          <span class="btn-label">
                             <em class="fa fa-pencil"></em>
                          </span>Modificar
                        </button>
                        <button uib-tooltip="Validar factura" uib-tooltip-trigger="focus" uib-tooltip-placement="top" ng-show="currentBill.billState.code == globalConstants.BILL_DRAFT_STATE_CODE" type="button"
                                class="btn btn-labeled btn-success pull-right mr"
                                ng-click="controller.createPreBill(currentBill)">
                          <span class="btn-label">
                             <em class="fa fa-check-circle"></em>
                          </span>Crear pre-factura
                        </button>
                        <button uib-tooltip="Anular factura" uib-tooltip-trigger="focus" uib-tooltip-placement="top" ng-show="currentBill.billState.code == globalConstants.BILL_VALIDATED_STATE_CODE" type="button"
                                ng-click="controller.voidBill(currentBill)"
                                class="btn btn-labeled btn-danger pull-right">
                          <span class="btn-label">
                             <em class="fa fa-times"></em>
                          </span>Anular
                        </button>
                    </div>
                </div>
                <hr>
                <div class="panel">
                    <div class="panel-body">
                        <h3 class="mt0" ng-if="currentBill.billNumber != null">{{"Factura # " +
                            controller.formatBillNumber(currentBill)}}</h3>
                        <h3 class="mt0" ng-if="currentBill.billNumber == null">{{controller.formatBillNumber(currentBill)}}</h3>
                        <hr/>
                        <div class="row mb-lg">
                            <div class="col-lg-4 col-xs-6 br pv">
                                <div class="row">
                                    <div class="col-md-2 text-center visible-md visible-lg">
                                        <em class="fa fa-user fa-4x text-muted"></em>
                                    </div>
                                    <div class="col-md-10">
                                        <h4>{{currentBill.customer.name + " " + currentBill.customer.firstLastName + " "
                                            + currentBill.customer.secondLastName}}</h4>
                                        <address></address>
                                        {{currentBill.address.district.name + ", " +
                                        currentBill.address.canton.name}}<br/>
                                        {{currentBill.address.province.name}}<br/>
                                        {{currentBill.address.address}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-6 br pv">
                                <div class="row">
                                    <div class="col-md-2 text-center visible-md visible-lg">
                                        <em class="fa fa-phone fa-4x text-muted"></em>
                                    </div>
                                    <div class="col-md-10">
                                        <h4>{{currentBill.customer.contacts[0].name + " " +
                                            currentBill.customer.contacts[0].firstLastName + " " +
                                            currentBill.customer.contacts[0].secondLastName }}</h4>
                                        <address></address>
                                        {{currentBill.customer.contacts[0].phoneNumber1}}<br/>
                                        {{currentBill.customer.contacts[0].mobile}}<br/>
                                        {{currentBill.customer.contacts[0].email}}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix hidden-md hidden-lg">
                                <hr/>
                            </div>
                            <div class="col-lg-4 col-xs-12 pv">
                                <div class="clearfix">
                                    <p class="pull-left">FACTURA NO.</p>
                                    <p class="pull-right mr" ng-if="currentBill.billNumber != null">
                                        {{controller.formatBillNumber(currentBill)}}</p>
                                    <p class="pull-right mr" ng-if="currentBill.billNumber == null">{{controller.formatBillNumber(currentBill)}}</p>
                                </div>
                                <div class="clearfix">
                                    <p class="pull-left">Tipo de pago</p>
                                    <p class="pull-right mr">{{currentBill.billPaymentType.description + ' ' + currentBill.creditCondition.description}}</p>
                                </div>
                                <div class="clearfix">
                                    <p class="pull-left">Fecha de facturación</p>
                                    <p class="pull-right mr">{{currentBill.billDate | date:'MM/dd/yyyy'}}</p>
                                </div>
                                <div class="clearfix">
                                    <p class="pull-left">Fecha de vencimiento</p>
                                    <p class="pull-right mr">{{currentBill.dueDate | date:'MM/dd/yyyy'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table-bordered mb-lg">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Impuestos</th>
                                    <th>Descuentos</th>
                                    <th>Subtotal</th>
                                    <th class="text-right">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="billDetail in currentBill.billDetails">
                                    <td>{{billDetail.product.productCode}}</td>
                                    <td>{{billDetail.product.name}}</td>
                                    <td>{{billDetail.quantity}}</td>
                                    <td ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_DOLLARS_CODE">{{ billDetail.totalTaxAmount | currency : "$" : 2}}</td>
                                    <td ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_COLONES_CODE">{{ billDetail.totalTaxAmount | currency : "₡" : 2}}</td>
                                    <td ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_DOLLARS_CODE">{{ billDetail.totalDiscount | currency : "$" : 2}}</td>
                                    <td ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_COLONES_CODE">{{ billDetail.totalDiscount | currency : "₡" : 2}}</td>
                                    <td ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_DOLLARS_CODE">{{ billDetail.subTotal | currency: "$" : 2}}</td>
                                    <td ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_COLONES_CODE">{{ billDetail.subTotal | currency: "₡" : 2}}</td>
                                    <td class="text-right" ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_DOLLARS_CODE">{{ billDetail.total | currency : "$" : 2}}</td>
                                    <td class="text-right" ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_COLONES_CODE">{{ billDetail.total | currency : "₡" : 2}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-8 col-sm-4 pv">
                                <div class="clearfix">
                                    <p class="pull-left">Subtotal</p>
                                    <p class="pull-right mr" ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_DOLLARS_CODE">{{
                                        currentBill.subTotalAmount | currency : "$" : 2}}</p>
                                    <p class="pull-right mr" ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_COLONES_CODE">{{
                                        currentBill.subTotalAmount | currency : "₡" : 2}}</p>
                                </div>
                                <div class="clearfix">
                                    <p class="pull-left">Total de descuentos</p>
                                    <p class="pull-right mr" ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_DOLLARS_CODE">{{
                                        currentBill.totalDiscount | currency : "$" : 2}}</p>
                                    <p class="pull-right mr" ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_COLONES_CODE">{{
                                        currentBill.totalDiscount | currency : "₡" : 2}}</p>
                                </div>
                                <div class="clearfix">
                                    <p class="pull-left">Total de impuestos</p>
                                    <p class="pull-right mr" ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_DOLLARS_CODE">{{
                                        currentBill.totalTaxAmount | currency : "$" : 2}}</p>
                                    <p class="pull-right mr" ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_COLONES_CODE">{{
                                        currentBill.totalTaxAmount | currency : "₡" : 2}}</p>
                                </div>
                                <div class="clearfix">
                                    <p class="pull-left h3">TOTAL</p>
                                    <p class="pull-right h3 mr" ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_DOLLARS_CODE">{{
                                        currentBill.totalAmount | currency : "$" : 2}}</p>
                                    <p class="pull-right h3 mr" ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_COLONES_CODE">{{
                                        currentBill.totalAmount | currency : "₡" : 2}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="PAGOS" active="tab2" ng-hide="currentBill.billState.code == globalConstants.BILL_DRAFT_STATE_CODE">
                <div class="panel panel-default" ng-show="currentBill.billState.code != globalConstants.BILL_DRAFT_STATE_CODE">
                    <div class="panel-body">
                        <div class="table-responsive mb-lg mr ml mb">
                            <div class="col-md-12 dataTableTop">
                                <div class="col-lg-9">
                                    <h3>Pagos</h3>
                                </div>
                                <div ng-click="controller.open('lg')" class="pull-right" ng-show="currentBill.billState.code != globalConstants.BILL_PAID_STATE_CODE">
                                    <button uib-tooltip="Realizar un pago" uib-tooltip-trigger="focus" uib-tooltip-placement="top"  ng-show="currentBill.billState.code == globalConstants.BILL_VALIDATED_STATE_CODE || currentBill.billState.code == globalConstants.BILL_PARTIALLY_PAID_STATE_CODE" type="button"
                                            ng-click="controller.openPaymentModal(currentBill)"
                                            class="btn btn-labeled btn-success">
                                          <span class="btn-label">
                                             <em class="fa fa-money"></em>
                                          </span>Emitir pago
                                    </button>
                                </div>
                            </div>
                            <div class="ml mt-lg">
                                <h4>Resumen de pagos</h4>
                            </div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Número de factura</th>
                                    <th>Cantidad de pagos</th>
                                    <th>Total</th>
                                    <th>Total pagado</th>
                                    <th class="text-right">Total por pagar</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ controller.formatBillNumber(currentBill) }}</td>
                                    <td>{{ controller.paymentQuantity }}</td>
                                    <td ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_COLONES_CODE">{{ currentBill.totalAmount | currency : "₡" : 2}}</td>
                                    <td ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_DOLLARS_CODE">{{ currentBill.totalAmount | currency : "$" : 2}}</td>
                                    <td ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_COLONES_CODE">{{ controller.paidTotal | currency : "₡" : 2}}</td>
                                    <td ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_DOLLARS_CODE">{{ controller.paidTotal | currency : "$" : 2}}</td>
                                    <td class="text-right" ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_COLONES_CODE">{{ controller.toBepaidTotal | currency : "₡" : 2}}</td>
                                    <td class="text-right" ng-if="currentBill.currency.currencyCode == globalConstants.CURRENCY_DOLLARS_CODE">{{ controller.toBepaidTotal | currency : "$" : 2}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mt">
                            <div class="col-md-9">
                                <h4>Listado de pagos</h4>
                            </div>
                            <table datatable="ng" dt-options="controller.dtPaymentOptions" dt-column-defs="controller.dtPaymentColumnDefs"
                                   class="row-border hover">
                                <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                    <th>Cuenta Bancaria</th>
                                    <th>Comprobante/Recibo</th>
                                    <th>Observaciones</th>
                                    <th ng-show="currentBill.billState.code != 4">Opciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="paymentObj in currentBill.payments">
                                    <td>{{ paymentObj.paymentDate | date:'dd-MM-yyyy' }}</td>
                                    <td>{{ paymentObj.amount }}</td>
                                    <td ng-if="paymentObj.bankAccount == null">**SIN BANCO**</td>
                                    <td ng-if="paymentObj.bankAccount != null">{{ paymentObj.bankAccount }}</td>
                                    <td ng-if="paymentObj.bankReceipt == null">**SIN COMPROBANTE**</td>
                                    <td ng-if="paymentObj.bankReceipt != null">{{ paymentObj.bankReceipt }}</td>
                                    <td ng-if="paymentObj.observation == null">**SIN OBSERVACIONES**</td>
                                    <td ng-if="paymentObj.observation != null">{{ paymentObj.observation }}</td>
                                    <td ng-show="currentBill.billState.code != 4">
                                        <button uib-tooltip="Ver pago" uib-tooltip-trigger="focus" uib-tooltip-placement="top"  type="button" ng-click="controller.openUpdatePaymentModal(paymentObj)" class="btn btn-sm btn-toolbar">
                                            <em class="fa fa-search"></em>
                                        </button>
                                        <button uib-tooltip="Eliminar" uib-tooltip-trigger="focus" uib-tooltip-placement="top"  type="button" ng-click="controller.deletePayment(paymentObj.id)"
                                                class="btn btn-sm btn-danger">
                                            <em class="fa fa-trash-o"></em>
                                        </button >
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </form>
    <toaster-container
            toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
    <script type="text/ng-template" id="voidBillModal">
        <div class="ngdialog-message text-center">
            <h3>Anular factura</h3>
            <p>¿Está seguro que desea anular la factura?</p>
            <div>
                <button type="button" ng-click="confirm(confirmValue)" class="btn btn-primary mr">Confirmar</button>
                <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">Cancelar</button>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="deletePaymentModal">
    <div class="ngdialog-message text-center">
        <h3>Eliminar pago</h3>
        <p>¿Está seguro que desea eliminar el pago?</p>
        <div>
            <button type="button" ng-click="confirm(confirmValue)" class="btn btn-primary mr">Confirmar</button>
            <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">Cancelar</button>
        </div>
    </div>
    </script>
    <script type="text/ng-template" id="createPreBillModal">
        <div class="ngdialog-message text-center">
            <h3>Crear pre-factura</h3>
            <p>¿Está seguro que desea crear pre-factura?</p>
            <p>La misma será enviada a bodega para su aprobación</p>
            <div>
                <button type="button" ng-click="confirm(confirmValue)" class="btn btn-primary mr">Confirmar</button>
                <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">Cancelar</button>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="containsNegativeLotsWarning">
        <div class="ngdialog-message text-center">
            <h3>Crear pre-factura</h3>
            <p>La factura dejará lotes de producto con cantidades negativas</p>
            <p>¿Está seguro que desea continuar?</p>
            <div>
                <button type="button" ng-click="confirm(confirmValue)" class="btn btn-primary mr">Confirmar</button>
                <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">Cancelar</button>
            </div>
        </div>
    </script>
    <div ng-include="'app/views/billing/modal/make-payment-modal.html'"></div>
    <div ng-include="'app/views/billing/modal/update-payment-modal.html'"></div>
</div>
