<div class="panel-heading text-center">
    <div ng-controller="LoginController as login" class="block-center mt-xl wd-xl">
        <!-- START panel-->
        <div class="panel-body">
            <a href="#">
                <img src="app/img/logo-test.png" alt="Image" class="block-center img-rounded"/>
            </a>
        </div>
        <div class="panel-body">
            <h3 class="text-center">Sistema Administrativo</h3>
            <form role="form" ng-submit="login.login()" name="login.loginForm" novalidate=""
                  class="form-validate mb-lg">
                <div class="form-group has-feedback">
                    <input id="exampleInputEmail1" type="text" name="account_email" placeholder="Usuario"
                           autocomplete="off" ng-model="login.account.email" required="" class="form-control"/>
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    <span ng-show="login.loginForm.account_email.$dirty &amp;&amp; login.loginForm.account_email.$error.required"
                          class="text-danger">Este campo es requerido</span>
                </div>
                <div class="form-group has-feedback">
                    <input id="exampleInputPassword1" type="password" name="account_password" placeholder="Contraseña"
                           ng-model="login.account.password" required="" class="form-control"/>
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    <span ng-show="login.loginForm.account_password.$dirty &amp;&amp; login.loginForm.account_password.$error.required"
                          class="text-danger">Este campo es requerido</span>
                </div>
                <div class="clearfix">
                    <div class="checkbox c-checkbox pull-left mt0">
                        <label>
                            <input type="checkbox" value="" name="account_remember" ng-model="login.account.remember"/>
                            <span class="fa fa-check"></span>Recordar usuario</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-lg">Ingresar</button>
            </form>
            <div ng-show="login.authMsg" class="alert alert-danger text-center">{{login.authMsg}}</div>
        </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span ng-bind="app.year"></span>
        <span>-</span>
        <span ng-bind="app.name"></span>
        <br/>
        <span ng-bind="app.description"></span>
    </div>
</div>