<!DOCTYPE html>
<html lang="es" data-ng-app="angle">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="{{app.description}}">
   <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
   <title data-ng-bind="::pageTitle()">Light ERP</title>
   <!-- Bootstrap styles-->
   <link rel="stylesheet" href="app/css/bootstrap.css" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="app/css/bootstrap-rtl.css" data-ng-if="app.layout.isRTL">
   <!-- Application styles-->
   <link rel="stylesheet" href="app/css/app.css" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
   <!-- Themes-->
   <link rel="stylesheet" href="app/css/theme-e.css">
   <link rel="stylesheet" ng-href="{{app.layout.theme}}" data-ng-if="app.layout.theme">
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled, 'aside-collapsed-text': app.layout.isCollapsedText}">
   <div data-preloader></div>
   <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>
   <script src="app/js/base.js"></script>
   <script src="app/js/app.js"></script>

    <!-- SERVICES-->
   <script src="app/services/authentication/AuthenticationService.js"></script>
   <script src="app/services/thirdparty/CustomerTypeService.js"></script>
   <script src="app/services/thirdparty/CustomerService.js"></script>
   <script src="app/services/thirdparty/ContactService.js"></script>
   <script src="app/services/thirdparty/IdentificationTypeService.js"></script>
   <script src="app/services/warehouse/ProductService.js"></script>
   <script src="app/services/warehouse/StorehouseService.js"></script>
   <script src="app/services/warehouse/ProductLotService.js"></script>
   <script src="app/services/warehouse/ProductTypeService.js"></script>
   <script src="app/services/warehouse/PresentationTypeService.js"></script>
   <script src="app/services/user/UserService.js"></script>
   <script src="app/services/billing/BillService.js"></script>
   <script src="app/services/print/PrintService.js"></script>
   <script src="app/services/CustomerReportService.js"></script>
   <!-- CONTROLLERS-->
   <script src="app/controllers/authentication/LoginController.js"></script>
   <script src="app/controllers/configuration/AdminConfigController.js"></script>
   <script src="app/controllers/thirdparty/CustomerController.js"></script>
   <script src="app/controllers/thirdparty/ContactController.js"></script>
   <script src="app/controllers/thirdparty/CustomerDetailController.js"></script>
   <script src="app/controllers/warehouse/ProductController.js"></script>
   <script src="app/controllers/warehouse/StorehouseController.js"></script>
   <script src="app/controllers/warehouse/StorehouseDetailController.js"></script>
   <script src="app/controllers/warehouse/ProductLotController.js"></script>
   <script src="app/controllers/thirdparty/AddressController.js"></script>
   <script src="app/controllers/user/UserController.js"></script>
   <script src="app/controllers/billing/BillController.js"></script>
   <script src="app/controllers/billing/BillDetailController.js"></script>
   <script src="app/controllers/billing/UpdateBillController.js"></script>
   <script src="app/controllers/reports/CustomerPurchasesReportController.js"></script>
   <!-- DIRECTIVES-->
   <script src="app/directives/flot.js"></script>
   <!-- COMPONENTS-->
   <script src="bower_components/angular-base64/angular-base64.js"></script>
   <script src='bower_components/pdfmake/build/pdfmake.min.js'></script>
   <script src='bower_components/pdfmake/build/vfs_fonts.js'></script>

</body>
</html>